h1{
	color: #CBCCA7;
	/*border-color: purple;
	border-width: 5px;
	border-style: solid;*/
	border: 5px solid purple;
}

li{
	color: rgb(203, 204, 167);
}

h4{
	background: rgb(255, 100, 80)
}

body{
	/*background: url(https://cdn.shopify.com/s/files/1/0241/9661/products/WoodGrain_5x5_web.jpg?v=1534476330);
	background-repeat: no*/
	background: pink;
}