body {
	background: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467?dpr=2&fit=crop&fm=jpg&h=2175&ixlib=rb-0.3.5&q=50&w=1450);
	background-size: cover;
	background-position: center;
	font-family: lato;
}

#content {
	text-align: center;	
	padding-top: 25%;
}